<section class="avenue-messenger" data-controller="chatbot" data-chatbot-avatar-url-value="<%= image_path 'agent.png' %>">
  <div class="agent-face">
    <div class="half">
      <%= image_tag 'agent.png', class: 'agent circle', alt: 'Sophie' %>
    </div>
  </div>

  <div class="chat">
    <div class="chat-title">
      <h1>Sophie</h1>
      <h2>StepUpLeads</h2>
    </div>

    <div class="messages">
      <div class="messages-content" data-chatbot-target="messages">
      </div>
    </div>

    <div class="message-box">
      <textarea class="message-input" data-chatbot-target="input" placeholder="Type message..." data-action="keydown->chatbot#onEnterKey"></textarea>
      <button type="submit" class="message-submit" data-action="click->chatbot#onSubmitClick">Send</button>
    </div>
  </div>
</section>
