<section class="avenue-messenger" data-controller="chatbot">
  <div class="agent-face">
    <div class="half">
      <img class="agent circle" src="http://askavenue.com/img/17.jpg" alt="Sophie">
    </div>
  </div>

  <div class="chat">
    <div class="chat-title">
      <h1>Sophie</h1>
      <h2>StepUpLeads</h2>
    </div>

    <div class="messages" data-chatbot-target="messages">
      <div class="messages-content"></div>
    </div>

    <div class="message-box">
      <textarea class="message-input" data-chatbot-target="input" placeholder="Type message..." data-action="keydown->chatbot#onEnterKey"></textarea>
      <button type="submit" class="message-submit" data-action="click->chatbot#onSubmitClick">Send</button>
    </div>
  </div>
</section>
